@include tablet{
    .iconos-nosotros{
        @include grid(3, 3rem);
    }
}
 
.icono{
    text-align: center;
    img{
        width: 15rem;
        height: 15rem;
        display: block;
        margin: 0 auto;
    }
    h3 {
        text-transform: uppercase;
    }
    p {
        text-align: justify;

    }
}