@include tablet{
    .contenedor-proyectos{
        @include grid(3,2rem);
    }
}

.proyecto{
    background-color: lighten($gris, 5);
    border:1px solid darken($gris, 10);
    border-radius: 2rem;

    .contenido-proyecto{
        padding: 2rem;
    }
    h3, p {
        margin: 0;
    }
}
.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    
    li{
        flex: 1;
        display: flex;

        img{
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }

}