
.redes-sociales {
  display: flex;
  gap: 15px;

  a {
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

/* Colores reales */
.facebook {
  color: #1877F2;
}

.instagram {
  background: radial-gradient(circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.whatsapp {
  color: #25D366;
}

.x {
  color: #000000;
}

